* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-center {
	background-color: rgb(227, 15, 255);
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.processing-container {
	/* width: 100%;
	height: 100vh; */

	/* display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center; */
	position: relative;
}

div.processing-item {
	position: absolute;
	/* left: 100px; */
}
img {
	width: 100px;
	height: 100px;
}

.processing-label {
	position: absolute;
	top: 65px;
	left: 15px;
}

.slide-bottom {
	animation: slide-bottom 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4s both;
}
@keyframes slide-bottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	50% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
	}
}

.scale-down-center {
	animation: scale-down-center 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes scale-down-center {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	25% {
		transform: translateX(0px);
		opacity: 1;
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}
	75% {
		transform: scale(0.5);
		opacity: 1;
	}
	100% {
		transform: scale(0.25);
		opacity: 0;
	}
}

.slide-left {
	animation: slide-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s 3 both;
}
@keyframes slide-left {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	50% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		transform: translateX(-100px);
		opacity: 0;
	}
}

.processing {
	animation: first 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4 both;
}

@keyframes first {
	0% {
		/* transform: translateX(100px); */
		opacity: 0;
	}
	50% {
		/* transform: translateX(0px); */
		opacity: 1;
	}
	100% {
		/* transform: translateX(-100px); */
		opacity: 0;
	}
}

.done {
	animation: last 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4s both;
}
@keyframes last {
	0% {
		/* transform: translateX(100px); */
		opacity: 0;
	}
	50% {
		/* transform: translateX(0px); */
		opacity: 1;
	}
	100% {
		/* transform: translateX(0px); */
		opacity: 1;
	}
}
